<div [ngSwitch]="controlObject.type">

  <div *ngSwitchCase="'Textbox'">
    <mat-form-field>
      <input matInput [placeholder]="controlObject.label" [(ngModel)]="value">
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'TextboxCurrency'">
    <!-- TODO : custom component ???, use custom input mask -->
    <mat-form-field>
      <input matInput [placeholder]="controlObject.label" [(ngModel)]="value" currencyMask [options]="currencyOptions">
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'Checkbox'">
    <mat-form-field>
      <mat-checkbox [(ngModel)]="value">
        {{controlObject.label}}
      </mat-checkbox>
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'Date'">
    <mat-form-field>
      <input matInput [matDatepicker]="datepicker" [placeholder]="controlObject.label" [(ngModel)]="value">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'Dropdown'">
    <mat-form-field>
      <mat-select [(ngModel)]="value" [placeholder]="controlObject.label">
        <mat-option *ngFor="let item of options" [value]="item">
          {{item.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'Label'" class="form-label">
    <div class="ui-fluid form-field">
      {{controlObject?.label}}
    </div>
  </div>

  <div *ngSwitchCase="'Multiselect'">
    <!-- TODO : custom component -->
    <div class="ui-fluid form-field">
      Multiselect {{controlObject?.label}}
    </div>
  </div>

  <div *ngSwitchCase="'Container'">
    <df-container [container]="controlObject"></df-container>
  </div>

  <div *ngSwitchCase="'RepeatingContainer'">
    <df-container [container]="controlObject"></df-container>
  </div>

  <div *ngSwitchDefault>
    Unknown control type: {{controlObject.type}} ({{controlObject.label}})
  </div>

</div>