<ng-container *ngIf="ngGroup" [formGroup]="ngGroup">

  <ng-container *ngIf="displayFieldset else noFieldset">
    <p-fieldset #containerFieldset [legend]="containerVal.label" [toggleable]="containerVal.optional" [collapsed]="containerVal.optional"
      (onAfterToggle)="onToggle($event)">
      <ng-container *ngTemplateOutlet="formControlSet"></ng-container>

    </p-fieldset>
  </ng-container>

  <!-- root element without surrounding fieldset -->
  <ng-container #noFieldset *ngIf="!displayFieldset">
    <ng-container *ngTemplateOutlet="formControlSet"></ng-container>
  </ng-container>

  <ng-template #formControlSet>
    <ng-container *ngIf="!containerVal.horizontal else horizontalSet">
      <ng-container *ngFor="let ctrl of controlsArray">
        <div class="ui-grid-row ui-fluid main-props-row">

          <div #labelDiv class="ui-g-6 document-main-form-descr" *ngIf="isShowLabel(ctrl)">
            {{ctrl.label}}
          </div>
          <div [class]="isShowLabel(ctrl) ? 'ui-g-6' : 'ui-g-12'">
            <ng-container *ngTemplateOutlet="controlOrContainer;context: {ctrl: ctrl}"></ng-container>
          </div>

        </div>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #horizontalSet>
    <div class="ui-grid-row ui-fluid">
      <ng-container *ngFor="let ctrl of controlsArray">
        <div class="ui-g-2 horizontal-item">
          <div #labelDiv class="document-main-form-descr" *ngIf="isShowLabel(ctrl)">
            {{ctrl.label}}
          </div>
          <div>
            <ng-container *ngTemplateOutlet="controlOrContainerHorizontal;context: {ctrl: ctrl}"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #controlOrContainer let-ctrl="ctrl">
    <df-dynamic-control *ngIf="!isContainer(ctrl); else dynamicContainer" [control]="ctrl" [formControlName]="ctrl?.name"> </df-dynamic-control>
    <ng-template #dynamicContainer>
      <df-container *ngIf="!isRepeating(ctrl); else repeating" [container]="ctrl" [(ngGroup)]="ngGroup.controls[ctrl.name]"></df-container>
      <ng-template #repeating>
        <df-container-repeat [container]="ctrl" [(ngArray)]="ngGroup.controls[ctrl.name]"></df-container-repeat>
      </ng-template>
    </ng-template>
  </ng-template>

  <ng-template #controlOrContainerHorizontal let-ctrl="ctrl">
    <df-dynamic-control *ngIf="!isContainer(ctrl); else dynamicContainer" [control]="ctrl" [formControlName]="ctrl?.name"> </df-dynamic-control>
    <ng-template #dynamicContainer>
      <df-container [container]="ctrl" [(ngGroup)]="ngGroup.controls[ctrl.name]"></df-container>
    </ng-template>
  </ng-template>

</ng-container>