<mat-expansion-panel [hideToggle]="!containerVal.optional" [expanded]="containerVal.optional" (opened)="onOpen()" (closed)="onClose()">
  <mat-expansion-panel-header>{{containerVal.label}}</mat-expansion-panel-header>
  <ng-container *ngFor="let item of ngArray?.controls; let i = index">
    <div class="ui-grid-row ui-fluid">
      <div class="ui-g-10">
        <df-container [displayFieldset]="false" [container]="containerVal" [(ngGroup)]="ngArray?.controls[i]"></df-container>
      </div>
      <div class="ui-g-1">
        <button mat-icon-button color="warn" *ngIf="ngArray?.controls.length > 1" type="button" (click)="remove(i, $event)" >
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="ngArray?.controls.length - 1 === i" type="button" (click)="add($event)" >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</mat-expansion-panel>
